body{
    background-color: lightgray;
}

.wrapper{
    background-color: white;
    width: 500px;
    height: 500px;
    display: block;
}

.box-1{
    width: 250px;
    height: 250px;
    background-color: greenyellow;
    margin: 20px 20px 40px 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box-2{
    width: 150px;
    height: 250px;
    background-color: violet;
    margin: 5px auto;
    padding-left: 100px;
}

.box-3{
    width: 150px;
    height: 250px;
    background-color: blue;
    margin: 5px auto;
    padding-left: 100px;
    border-top: 8px solid black;
    border-right: 8px dashed red;
    border-bottom: 8px dotted orange;
    border-left: 8px double purple;
}


