em{
    background-color: yellow;
}

/* a{
    perbedaan antara inline dan inline-block adalah 
    inline tidak bisa di atur untuk tinggi dan mengikuti besarnya didalam konten oinline
    inline-block fleksibel bisa menggunakan tinggi dan lebar*/
    /* display: inline-block;
    background-color: lightblue;
    width: 50px;
    height: 50px;
    
} */

/* h2, ul, li, p{
    background-color: #808080;
}

ul{
    display: block;
    width: 100px;
    height: 30px;
}

ul li p{
    size: 30px;
} */

.hati{
    width: 100px;
    height: 100px;
    background-color: lightpink;
    display: none;
}