body{
    background-color: gray;
}

.wrapper{
    background-color: gainsboro;
    padding-left: 20%;
    padding-right: 50%;
    width: 150px;
    height: 550px;
}

.wrapper .box-1{
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    overflow: scroll;
    display: inline-block;
}

.wrapper .box-2{
    width: 100px;
    height: 100px;
    background-color: aqua;
    overflow: scroll;
    display: inline-block;
}

.wrapper .box-3{
    width: 100px;
    height: 100px;
    background-color: cyan;
    overflow: scroll;
    display: inline-block;
}

.wrapper .box-4{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    overflow: scroll;
    display: inline-block;
}
