body{
    background-color: coral;
}
.back-img{
    background-image: url(dg9tis5l4v751.png);
    width: 500px;
    height: 500px;
    color: white;
}
.posisi{
    background-image: url(dg9tis5l4v751.png);
    width: 200px;
    height: 200px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}